In [1]:
cd ..

/home/xavier/Documents/repos/playground/movielens

In [2]:
import pandas as pd

# Ratings

In [3]:
ratings = pd.read_csv("./data/raw/ml-1m/ratings.dat", sep='::', header=None, names=["UserID", "MovieID", "Rating", "Timestamp"])

/home/xavier/miniconda3/envs/py3.9/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [4]:
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [6]:
ratings.to_parquet("./data/processed/ratings.parquet", index=False)

# Movies

In [8]:
movies = pd.read_csv("./data/raw/ml-1m/movies.dat", sep='::', header=None, names=['MovieID', 'Title', 'Genres'], encoding='iso-8859-1')

/home/xavier/miniconda3/envs/py3.9/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [9]:
movies.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [10]:
movies.to_parquet("./data/processed/movies.parquet", index=False)

# Users

In [12]:
users = pd.read_csv("./data/raw/ml-1m/users.dat", sep='::', header=None, names=['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'], encoding='iso-8859-1')

/home/xavier/miniconda3/envs/py3.9/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [13]:
users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [14]:
users.to_parquet("./data/processed/users.parquet", index=False)